<div class="data">
    <h2> These are the last 5 decrees</h2>
    <table role="grid">
      <thead>
        <td>Date</td>
        <td>Title</td>
      </thead>
      <tbody>
{{#each @model as |decree| }}
      <tr>
        <td>{{decree.date}}</td>
        <td>{{decree.title}}</td>
      </tr>
{{/each}}
      </tbody>
    </table>
</div>
